.pow {
  color: green;
  font-size: larger;
  size: 50%;
}
.waw {
  color: indigo;
  font-size: medium;
  size: 50%;
}
#idey {
  font-size: xx-large;
}
.check-form {
  font-size: medium;
  align-content: space-around;
  size: 50%;
}
